@import "tailwindcss";

:root {
  --begin-gradient: #13222F;
  --end-gradient: #001E37;
  --primary: #273442;
  --secondary: #455369;
  --light: #EBEEEF;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme inline {
  --color-background: var(--begin-gradient);
  --color-background-secondary: var(--end-gradient);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-light: var(--light);
}