@import "tailwindcss";

:root {
  --begin-gradient: #13222f;
  --end-gradient: #001e37;
  --primary: #273442;
  --secondary: #455369;
  --light: #ebeeef;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-background: var(--begin-gradient);
  --color-background-secondary: var(--end-gradient);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-light: var(--light);
}

@layer components {
  .card {
    @apply bg-primary rounded-4xl p-6 space-x-6;
  }
}
